[submodule "thirdpart/antigen"]
	path = thirdpart/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "git-fuzzy"]
	path = git-fuzzy
	url = https://github.com/bigH/git-fuzzy.git
[submodule "thirdpart/z.lua"]
	path = thirdpart/z.lua
	url = https://github.com/skywind3000/z.lua.git
